################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pax-romana-service/.vs
/pax-romana-service/pax-romana-service/obj/Debug/net10.0
/pax-romana-service/pax-romana-service/bin/Debug/net10.0
